@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/* RESET  */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

/* GENERAL STYLING  */
:root {
    --BLUE-BLACK-DARK: hsl(199, 85%, 10%);
    ;
    --BLUE-BLACK-DARKER: hsl(225, 78%, 7%);
    --BLACK: hsl(0, 0%, 0%);
    --WHITE: hsl(0, 0%, 100%);
}

/* HEADER  */
/* NAV  */
/* NAV UTILITY CLASS  */


.side__nav {
    width: 0;
    background-color: var(--BLUE-BLACK-DARK);
    height: 100vh;
    position: fixed;
    display: block;
    transition: .5s;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s;
}

.side__nav ul {
    margin-top: -1px !important;
    padding: 0 !important;
    width: 100%;
    position: absolute;
}

.opeen {
    position: relative;
    top: 20px;
    left: 4px;
    cursor: pointer;
    font-size: 30px;
}

.side__nav .close {
    position: absolute;
    top: 17px;
    left: 195px;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--WHITE);
}

.side__nav ul li a {
    text-decoration: none;
    color: var(--WHITE);
    font-family: 'poppins', sans-serif;
    line-height: 60px;
    font-size: 1.33rem;
    border-top: 1px solid rgba(225, 225, 225, 0.1);
    border-bottom: 1px solid #000;
    display: block;
    padding: 10px 45px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.side__nav li a:hover {
    padding-inline: 60px;
}

.side__nav li {
    list-style: none;
}

.overlay,
.open {
    display: none;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-family: cursive;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: var(--WHITE);
    background-color: var(--BLUE-BLACK-DARKER);
}

/* MAIN  */
main {
    /* width: min(100% - 9vw); */
    /* margin-inline: auto; */
    margin-inline-start: 40px;
    margin-inline-end: 20px;
    transition: margin .5s;
}

.container__1 {
    margin-top: -5rem;

}

/* MAIN UTILITY CLASSES  */
/* SHOW CASE  */
.red {
    text-transform: capitalize;
    color: red;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
}

.main__logo {
    font-size: 3rem;
    font-family: cursive;
}

.border {
    border-radius: .4rem;
    border: 1rem solid red;
    display: inline-block;
    width: 15%;
}

.images img:hover {
    opacity: .8;
}
.container__2 {
    margin-top: 4rem;
}
main p {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.3;
}
img {
    border-radius: 6px;
}
.images {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
}
/* CARDS  */
.card h3 {
    text-transform: capitalize;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.card .status {
    margin-top: -18px;
    opacity: .7;
    font-size: 1.4rem;
}
.card .name {
    margin-top: 2px;
    font-size: 1.7rem;
} 
/* CONTACTS  */
.container__4 p {
    margin-top: 4px
}
form label, button {
    text-transform: capitalize;
}
form input, button {
    /* width: 100px; */
    width: 95%;
    margin-bottom: 1rem;
}
button {
    padding: 10px;
    background-color: red;
    color: var(--WHITE);
    border: none;
    cursor: pointer;
}
form input {
    padding: 15px;
}
/* FOOTER  */
.sign {
    
    margin-top: 2rem;
    font-size: 1.5rem;
    float: right;
    margin-top: 2rem;
}
@media screen and (max-width: 768px) {

    .side__nav,
    .opeen {
        display: none;
        visibility: hidden;
    }

    .overlay,
    .open {
        display: block;
    }



    .overlay {
        width: 0;
        background-color: var(--BLUE-BLACK-DARK);
        height: 100vh;
        position: fixed;
        display: block;
        transition: .5s;
        top: 0;
        left: 0;
        z-index: 1;
        overflow-x: hidden;
        transition: .5s;
    }

    .overlay ul {
        margin-top: -1px !important;
        padding: 0 !important;
        width: 100%;
        position: absolute;
    }

    .open {
        position: relative;
        top: 8px;
        cursor: pointer;
        font-size: 30px;
        margin-left: 90%;
        color: var(--WHITE);
    }

    .overlay .closee {
        position: absolute;

        top: 18px;
        left: 224px;
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--WHITE);
    }

    header {
        background-color: var(--BLUE-BLACK-DARK);
        height: 50px;
        width: 100%;
    }

    .overlay ul li a {
        text-decoration: none;
        color: var(--WHITE);
        font-family: 'poppins', sans-serif;
        line-height: 60px;
        font-size: 1.33rem;
        border-top: 1px solid rgba(225, 225, 225, 0.1);
        border-bottom: 1px solid #000;
        display: block;
        padding: 3px 45px;
        text-transform: uppercase;
        transition: all .5s ease;
    }

    .overlay a:hover {
        padding-inline: 60px;
    }

    .overlay li {
        list-style: none;
    }

    .logoo {
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        font-family: cursive;
        font-size: 25px;
        line-height: 60px;
        text-align: center;
        color: var(--WHITE);
        background-color: var(--BLUE-BLACK-DARKER);
    }

    main {
        margin: 0;
        width: min(100% - 7vw);
        margin-inline: auto;
    }

    .container__1 {
        margin-top: 70px;
    }

    .images {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .main__logo {
        top: -30px;
        font-size: 2rem;
        position: absolute;
        color: var(--WHITE);
    }
}

@media screen and (max-width: 560px) {
    .open {
        margin-left: 83%;
    }
        form input,
        button {
            width: 85%;
        }
        button {
            width: 97%;
        }
    .images {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !;
    }

    .main__logo {
        font-size: 1.8rem;
        top: -20px;
        position: absolute;
        color: var(--WHITE);
    }

    .red {
        font-size: 2rem;
    }
}